doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/scripts/css/bootstrap.min.css')
    link(rel='stylesheet', href='/scripts/css/bootstrap.theme.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script(type='javascript', src='/scripts/js/bootstrap.js')